# Name: Naman Pal  
## Roll No: IIT202519  
### Course: Information Technology
### College: IIIT A